{% extends 'PC_Configurator/base_list.html' %}
{% block Title %} Блок питания {% endblock %}
{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href=" {% static 'PC_Configurator/style.css' %}">
    <link rel="stylesheet" href=" {% static 'PC_Configurator/product.css' %}">
{% endblock %}
{% block content %}
    <div class="product">
        <h1>{{ pow.Name }}</h1>

        <h2>Описание:</h2>
        <div class="photo">
            <img src="{{ pow.Photo.url }}" width="400" height="400">
        </div>
        <h3>Мощность - {{ pow.Power }}ГБ<br>Основные разъемы питания-{{ pow.Base_connector }}<br> Разъем питания процессора
            -{{ pow.Cpu_connector }} pin CPU <br>Разъемы питания SATA -  {{ pow.Sata_coonector }} МБ</h3>


    </div>
{% endblock %}