{% extends 'PC_Configurator/base_list.html' %}
{% block Title %} Кулер {% endblock %}
{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href=" {% static 'PC_Configurator/style.css' %}">
    <link rel="stylesheet" href=" {% static 'PC_Configurator/product.css' %}">
{% endblock %}
{% block content %}
    <div class="product">
        <h1>{{ case.Name }}</h1>

        <h2>Описание:</h2>
        <div class="photo">
            <img src="{{ case.Photo.url }}" width="400" height="400">
        </div>
        <h3>Максимальный форм фактор - {{ case.Form }}<br>Цвет - {{ case.Color }} об/мин <br> USB разъемы
            - {{ case.USB }} дБ</h3>


    </div>
{% endblock %}