.product {
    display: block;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #c0c0c0;
    height: 500px;
    overflow: hidden;
    padding: 25px 15px;
    position: relative;
    text-align: right;
    transition: all 0.5s ease 0s;
    margin-bottom: 1px;
    margin-right: 500px;
    margin-left: 500px;
    border-radius: 10px;
}

.photo {
    position: absolute;
    width: 350px;
    top: 100px;
}

.btn-succes {
    width: 20%;
    appearance: none;
    border: 0;
    border-radius: 20px;
    background: darkgray;
    color: black;
    padding: 8px 16px;
    font-size: 16px;
    position: absolute;
    top: 77%;
    left: 75%;
}
.btn-succes:hover {
  background: brown;
}

.btn-succes:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}