   li {
    list-style-type: none;
   }
   ul {
    margin-left: 0;
    padding-left: 0;
   }
body{
	background: radial-gradient(#525252,#292828, #050505);
	font-family: "Roboto", "Arial", sans-serif;
}
img {
	height: auto;
	max-width: 100%;
	margin-right: 100%;
}
.content{
	margin-top: 50px;
}

.d-flex{
    background: black;
}
.fs-4 {
    color: red;
}

